/PCSX2/
/QtProject.conf
/README.org~
/arx/
/brittany/
/calibre/
/chessx/
/cutechess/
/dconf/
/deemix/
/discord/
/htop/
/kdeglobals
/kdenliverc
/libfm/
/lxpanel/
/lxsession/
/mimeapps.list
/neofetch/
/okularrc
/openbox/
/pavucontrol.ini
/pcmanfm/
/pulse/
/pychess/
/qBittorrent/
/quodlibet/
/reicast/
/retroarch/
/taffybar/
/vifm/
/vlc/
